/* Gare Stylesheet */

/***********************
* Table of Contents
*
* 1. Body
* 2. Menu
* 99. Footer
*
***********************/

/* 1. Body */
body {
    color:#000000;
    background-color:#dbdbdb;
    font-family:'Times New Roman', Times, serif;
    font-size:1.6rem;
}
a {
    color:#c1272d;
    text-decoration:none;
}
.logo-colour {
    color:#c1272d;
}
.main-logo {
    width:75%;
}
.sub-logo {
    width:25%;
}

/* 2. Menu */
.nav, .nav a {
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    background-color:#ffffff;
}
.nav ul, .nav li {
    list-style:none;
    display:inline-block;
    padding:0;
    margin:120 0 0 0;
}
.active-menu, .active-menu a {
    color:#c1272d!important;
}

/* 99. Footer */
footer {
    font-size:0.9rem;
}