# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# Workspace directories and files
.eslintrc
.eslintrc.cjs
.vscode/*
.vscode/extensions.json
*.code-workspace

# Operating system directories and files
## Linux
*.~
.Trash*
## macOS
__MACOSX
.DS_Store
.Spotlight-V100
## Windows
Desktop.ini
Thumbs.db

# jetbrains setting folder
.idea/

# Netlify
.netlify
netlify.toml
deno.lock