---
const {href = "/", ...rest} = Astro.props;
---

<a href={href} {...rest}>
	<slot />
</a>

<style>
	a {
		text-decoration: none;
		color: #000;
		transition:
			transform 0.05s ease,
			box-shadow 0.05s ease;

		&:hover,
		&:active,
		&.active,
		&:focus {
			cursor: pointer;
			color: #c1272d;
			background-size: 100% 5px;
			text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		}
	}
</style>
