---
const {href = "/", ...rest} = Astro.props;
const isActive = Astro.url.pathname === href;
---

<a href={href} class={isActive ? "active" : ""} {...rest}>
	<slot />
</a>

<style>
	a {
		font-size: 1.5rem;
		font-family: sans-serif;
		text-decoration: none;
		color: #000;

		background-image: linear-gradient(#c1272d, #c1272d);
		background-size: 0% 5px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: background-size 0.05s ease;

		display: inline-block;
		padding-block: 0.2rem;

		&:hover,
		&:active,
		&.active,
		&:focus {
			cursor: pointer;
			color: #c1272d;
			background-size: 100% 5px;
		}
	}
</style>
