---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<main>
		<h2>About Us</h2>
		<p>Gare represents the cogs in the machine working together.</p>
		<p>We are a humble New Zealand business which endeavours to provide affordable, quality IT services.</p>
		<p>Most of our services are available within Auckland, but we are happy to help nationwide where possible.</p>
		<p>Whether you need computer repairs, recommendations, or are interested in more niche technology, we will do our best to help.</p>
		<p>Unlike many other IT companies, we believe in charging fair prices for realistic services.</p>
		<p>That means we are transparent about our capabilities and limitations, and provide tailored solutions to meet our customers' needs.</p>
		<p>We work for you, with you, to deliver you a satisfactory outcome.</p>
	</main>
</Layout>

<style>
	main {
		max-width: 600px;
		font-size: clamp(0.9rem, 2vw, 1.2rem);
		padding: 1rem;
	}

	h2 {
		text-align: center;
		margin: 0;
		padding-bottom: 1rem;
	}
	p {
		text-align: justify;
		padding: 0.9rem;
	}
</style>
