---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Windows Fixes">
	<main class="container">
		<h2>Coming Soon</h2>
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		font-size: clamp(0.9rem, 2vw, 1.2rem);
		padding: 1rem;
	}
</style>
