<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
    <script src="/js/netlifyid.js"></script>
  </body>
  <footer>
    <!-- Set Copyright Date in Footer -->
    <span>&copy; {{"now" | date: "%Y"}} Gare Ltd.</span>
  </footer>
</html>