// Contact Form Grid
.contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    width: 100vw;
}
.grid-header {
    grid-column: 1 / -1;
    text-align: center;
}
.grid-form {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}
.grid-form-label {
    align-self: left;
    justify-self: center;
    width: 100%;
}
.grid-form-item {
    align-self: center;
    justify-self: center;
    width: 100%;
}
.grid-form-btn {
    align-self: center;
    justify-self: center;
    width: 25%;
}
// Contact Form Misc
form.contact > 
label, 
input, 
textarea {
    width: 20%;
}
form.contact >
textarea {
    height: 300px;
    width: auto;
    cursor: text;
}
form.contact >
label {
    cursor: auto;
}